<h1>Login Session</h1>
<h3>Discover the latest trends and insights on web development salaries with our
  easy-to-use platform.</h3>
{{#if errorMessage}}
  <p class='error'>{{errorMessage}}</p>
{{/if}}

<form action='/auth/login' method='post'>
  <div>

    <input type='text' id='name' name='name' placeholder='Username' required />

  </div>
  <div>
    <input
      type='password'
      id='password'
      name='password'
      placeholder='Password'
      required
    />
  </div>
  <button type='submit'>Login</button>

  <p>Need an account? <a href='/auth/signup'> Sign up here!</a></p>


</form>