{{#if errorMessage}}
  <p class='error'>{{errorMessage}}</p>
{{/if}}
<h1>Sign up now</h1>
<h3>take the first step towards making informed decisions about your career.</h3>
<div class='signupFormContainer'>
  <form action='/auth/signup' method='post' id='signupForm'>

    <div class='inputForm'>

      <input type='text' name='name' placeholder='Username' required />
    </div>
    <div class='inputForm'>

      <input
        type='text'
        id='email'
        name='email'
        placeholder='E-Mail'
        required
      />
    </div>
    <div class='inputForm'>

      <input type='password' required name='password' placeholder='Password' />
    </div>

    <button type='submit'>create my account</button>

    <p>Already have an account? <a href='/auth/login'> Login</a></p>

  </form>
</div>