<header>
  <nav>

    <div id='logo'>
      <a href='/'><img src='/images/Tekko-logo.png' alt='' /></a>
      <a href='/insights/company'>companies reviews</a>
      <a href='/insights'>salaries insights</a>
    </div>
    <div class='logs'>
      {{#if currentUser}}

        <form action='/profile' method='POST'>
          <button id='profile'>Profile</button>
        </form>
        <form action='/auth/logout' method='POST'>
          <button id='logout'>Logout</button>
        </form>

      {{else}}

        <a id='navLogin' href='/auth/login'>Login</a>

        <a id='navSignup' href='/auth/signup'>SignUp</a>

      {{/if}}
    </div>

  </nav>
</header>