<<<<<<< Updated upstream

<div class"mainCenter">

<div class="title">
  <h1 class="animate__animated animate__fadeInDown">
    Your
    workplace insights, made easy.</h1></div>

<div>
  <p class="mainP">Welcome to the one-stop-shop for all things related to web development
    jobs! With Tekko, you can gain valuable insights into what it's like to work
    for top tech companies. Our database of employee reviews and salaries will
    help you make informed decisions about your career path. Plus, you can
    contribute your own experiences to help others in the industry. Join our
    community of developers today and take the first step towards finding your
    dream job!</p>
</div>

<div class="mainBtn">
  <a href="/auth/signup" id="signBtn">Sign up now!</a>
</div>
=======
<div class="title"><h1 class="animate__animated animate__fadeInDown">Your
    workplace insights, made easy.</h1></div>

<div>
  <p>Welcome to our website, a one-stop-shop for all things related to web
    development jobs! With our platform, you can gain valuable insights into
    what it's like to work for top tech companies. Our database of employee
    reviews and salaries will help you make informed decisions about your career
    path. Plus, you can contribute your own experiences to help others in the
    industry. Join our community of developers today and take the first step
    towards finding your dream job!</p>
</div>

<div class="btn">
  <a href="/auth/signup" id="signBtn">Sign up now!</a>
>>>>>>> Stashed changes
</div>