<div class='title'><h1 class='animate__animated animate__fadeInDown'>Your
    workplace insights, made easy.</h1></div>

<div class='images'>
  <img
    src='/images/review1.png'
    alt='review1'
    id='review1'
    class='animate__animated animate__fadeInRight'
  />
  <img
    src='/images/review2.png'
    alt='review1'
    id='review2'
    class='animate__animated animate__fadeInRight'
  />
</div>

<div></div>