<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{title}}</title>
  </head>
  <body>
    <header>
      <nav>
        <div class='logo'>
          <img src='' alt='' />
        </div>
        <ul class='navBarContainer'>
          <li><a href='/insights'>Salaries insights</a></li>
          <li><a href='/profile'>Profile</a></li>
          <li><a href='/auth/login'>Login</a></li>
          <li><a href='/auth/signup'>SignUp</a></li>
        </ul>
      </nav>
    </header>
    {{{body}}}
    <footer></footer>
  </body>
</html>