{{!-- JL --}}
<div class="titleProfile">
  <h1>Welcome {{currentUser.name}}</h1>  
</div>

<div class="textProfile">
    <p>Did you ever work for a company and wish you could have shared your experiences with others? Now you can! Create a review, share your insights and help others who may be considering working there.Give others a better understanding of what they can expect. By contributing to our anonymous review system, you'll be helping to create a more transparent job market and empowering others to make informed decisions about their careers. So, why not take a few minutes to share your experience and help others?</p>
</div>

<div class="accessReviews">
     <a href="#acessRev">check my review(s)</a>
</div>

{{#if errorMessage}}
<p class='error'>{{errorMessage}}</p>
{{/if}}
<div class="profileContainer">
    
    <div class="formContainer">
       
        <div class="form-create">
            <h2>Create a review</h2>
            <form  id="createForm">
            <div>
         
                <input list="companyCreated" required id="company" name='company' placeholder='Company' />
                <datalist id="companyCreated">
                    {{#each allCompanies}}
                    <option value="{{name}}">
                        {{/each}}
                </datalist>

            </div>
            <div>
               
                <input type='text' required id='title' name='title' placeholder='Job Title' />
            </div>
            <div>
               
                <input type='text' id="location" required name='location' placeholder='Location' />
            </div>
            <div>
               
                <input type='text' id="compensation" required name='compensation' placeholder='Compensation' />
            </div>
            <div>
               
                <select name="level" id="level" required>
                    <option value=""selected disabled >Level:</option>
                    <option value="Junior">Junior</option>
                    <option value="Intermediate">Intermediate</option>
                    <option value="Senior">Senior</option>
                </select>
            </div>
            <div>
               
                <input type='text' id="companyXp" required name='company_xp'
                    placeholder='Company seniority in years. Ex:2' />
            </div>
            <div>
               
                <select name="company_note" id="note" required>
                    <option value="" selected disabled>Rate your company :</option>
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>

            </div>
            <div>
                
                <input type='text' id="totalXp" required name='total_xp'
                    placeholder='Years of experience, ex:2' />
            </div>
            <div>
               
                <input type='text' required id="companyReview" name='company_review' placeholder='Anything to add? Write it here!' />
            </div>

            <button id="createBtn" type="submit">Create my review</button>

        </form>
        </div>
    
    

        {{!-- <div class="deleteBtn">
            <h2>Delete review</h2>
                <label for='idDelete'> ID to delete : </label>
                <input type='text' required id='idDelete' name='idDelete' placeholder='delete id' />
                <button id="delete-one">Delete one</button>
        </div> --}}
    </div>

<div>
            <h4 id="missed">Missed something? Update or delete your reviews here!</h4>
        </div>
    <div class="userContainer" id="acessRev">
        <div class="user-info">
            <div class="userCompany"></div>
            <div class="userLocation"></div>
            <div class="userJob"></div>
            <div class="userCompensation"></div>
            <div class="userLevel"></div>
            <div class="userNote"> </div>
            <div class="userXp"></div>
            <div class="jobXp"></div>
            <div class="userComment"></div>
         
        </div>
    </div>

    
</div>
    <template id="template">
        
        <div class="user-info">
            <div class="userCompany">Company: <span></span></div>
            <div class="userLocation">Location: <span></span></div>
            <div class="userJob">Job title: <span></span></div>
            <div class="userCompensation">Compensation: <span></span> €</div>
            <div class="userLevel">Level: <span></span></div>
            <div class="userNote">Company rating: <span></span> /10</div>
            <div class="userXp">Experience: <span></span> year(s)</div>
            <div class="jobXp">Company seniority: <span></span> year(s)</div>
            <div class="userComment">Comment:<span></span></div>
            <div class="reviewBtns">
            <button class="btn-update"><a class="UpdateBtn" href="">Update</a></button>
            <button class="btn-Delete"><a class="btnDelete" href="">Delete</a></button>
            </div>
        </div>
    </template>