form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color: #C7DDCC;
    border-radius: 10px;
    max-width: 30rem;
}