form {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 3rem auto 3rem auto;
    gap: 2rem;
    background-color: #C7DDCC;
    border-radius: 10px;
    max-width: 25rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-right: 5rem;
}

form input {
    border: none;
    border-radius: 8px;
    padding: .8rem;
    text-align: center;

}


form button {
    all: unset;
    font-weight: 600;
    color: #16123F;
    text-decoration: none;
    padding: 0.3rem 1.5rem;
    background-color: white;
    box-shadow: 0px 4px 0px 0px #FFE26A;
    border-radius: 8px;

    margin-left: 6rem;
    margin-top: 2rem;
    align-self: center;
}









h1,
h3 {
    text-align: center;
}


h1 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

a {
    text-decoration: none;
    font-weight: 800;
}

.error {
    margin-top: 2rem;
    text-align: center;
    color: red;
}


/* 
#signupForm {

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 3rem auto 3rem auto;
    gap: 2rem;
    background-color: #C7DDCC;
    border-radius: 10px;
    max-width: 25rem;
    padding-top: 3rem;
    padding-bottom: 2rem;

} */


.signupFormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3rem auto 3rem auto;
    gap: 2rem;
    background-color: #C7DDCC;
    border-radius: 10px;
    max-width: 25rem;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

#signupForm input {
    width: 15rem;

}


#signupForm div {
    display: flex;
    align-items: center;
    justify-content: center;
}

h3 {
    color: white;
}