/* colors used:
green: #ABD699
yellow:#FFE26A
blue:#75C9B7
light-blue:#C7DDCC
dark-blue: #16123F */






@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;800&display=swap');



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #16123F;
}


/* Navbar styling */

nav {
    height: 4.2rem;
    background-color: #FFE26A;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;
    gap: 4rem
}

#logo {
    padding-left: 1rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: flex-end;
}

#logo a {
    font-weight: 600;
    text-decoration: none;
    color: #16123F
}



#logo img {
    width: 40px;
    height: auto
}



#navLogin {
    font-weight: 600;
    color: #16123F;
    text-decoration: none;
    padding: 0.3rem 2rem;
    background-color: #ABD699;
    box-shadow: 0px 4px 0px 0px rgba(255, 255, 255, 0.75);
    border-radius: 8px;
    margin-right: 1.7rem;

}

#navSignup {

    font-weight: 600;
    color: #16123F;
    text-decoration: none;
    padding: 0.3rem 1.5rem;
    background-color: white;
    box-shadow: 0px 4px 0px 0px rgba(117, 201, 183, 0.75);
    border-radius: 8px;
    margin-right: 1rem;

}

#logout {
    all: unset;
    font-weight: 600;
    color: #16123F;
    text-decoration: none;
    padding: 0.3rem 1.5rem;
    background-color: white;
    box-shadow: 0px 4px 0px 0px rgba(117, 201, 183, 0.75);
    border-radius: 8px;
    margin-right: 1rem;
}

#profile {
    all: unset;
    font-weight: 800;
    font-size: 1.3rem;
}


.logs {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem
}