body {
    background-image: url('/images/layered-waves-haikei.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



.title h1 {
    color: white;
    margin: 0 auto;
    font-size: 5rem;
    max-width: 50rem;
    padding: 5rem 0 4rem 0;



}

/* .title {
    text-align: center;
} */

.mainCenter {
    margin: 3rem auto 3 rem auto;
    gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}




#signBtn {
    font-weight: 800;
    color: #16123F;
    text-decoration: none;
    padding: 1rem 5rem;
    background-color: white;
    /* box-shadow: 6px 8px 5px 0px rgba(0, 0, 0, 0.5); */
    box-shadow: 0px 4px 0px 0px rgba(117, 201, 183, 0.75);
    border-radius: 8px;

    margin: 2rem auto 0 auto;

}


.mainBtn {
    display: flex;
    justify-content: center;
}

.mainP {
    max-width: 70rem;
    font-weight: 800;
    padding: 0 2rem;
    text-align: justify;



#signBtn:hover {
    transition: all 0.2s ease;
    transform: scale(1.1);

}

h1 {
    color: white;
    text-align: center;
    margin-top: 3rem;
}


