.profileContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.formContainer {
    display: flex;
    margin: 20px;
}

.form-create,
.form-update,
.deleteBtn {
    margin: 10px;
}